.advantage {
    padding: 70px 0;

    &-wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        margin-top: 60px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 30px 0;

        width: 340px;
        border-radius: 12px;
        text-align: center;

        box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        transition: all 0.1s ease-in;

        &:hover {
            box-shadow: 0px 0px 17px 16px rgba(34, 60, 80, 0.17);
        }

        &:hover .number:after {
            width: 260px;
        }

        &-txt {
            color: #171718;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; 
            letter-spacing: -0.5px;
        }
    }

    .number {
        font-size: 110px;
        color: #a7db60;
        padding-bottom: 20px;
        user-select: none;

        &:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 2px;
            background-color: #76a03b;
            border-radius: 2px;

            transition: all 0.2s ease-in;
        }
    }
}

.h2 {
    color: #171718;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;

    span {
        display: inline-block;
        height: 4px;
        width: 40px;
        margin: 0 12px;
        background-color: #000000;

        margin-bottom: 12px;
    }
}

@media (max-width: 1100px) {
    .h2 {
        font-size: 40px;
    }

    .advantage {
        padding: 50px 0;
        &-wrapper {
            margin-top: 50px;
        }
    }
}

@media (max-width: 900px) {
    .h2 {
        font-size: 35px;
    }
}

@media (max-width: 700px) {
    .h2 {
        font-size: 30px;
    }

    .advantage {
        padding: 40px 0;
        &-wrapper {
            margin-top: 40px;
        }
    }
}