.footer {
    background: #171718;
    padding: 50px 0;

    &-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 100px;
        flex-wrap: wrap;
        row-gap: 40px;

        nav {
            ul {
                display: flex;
                flex-direction: column;
                row-gap: 8px;

                margin-top: 12px;
    
                .nav__link {
                    position: relative;
                    color: #FFF;
                    font-weight: 500;
                    font-size: 17px;
    
                    transition: all 0.1s ease-in;
    
                    &:hover {
                        color: #a7db60;
                    }
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            &-txt {
                display: block;
                margin-top: 6px;
                color: #FFF;
            }
        }

        .sale {
            .tell {
                display: flex;
                flex-direction: column;
                row-gap: 8px;

                margin-top: 12px;

                a {
                    color: #FFF;

                    transition: all 0.2s ease-in;

                    &:hover {
                        color: #a7db60;
                    }
                }
            }
        }
    }

    &__logo {

        .logo {
            margin: 0 auto;
        }

        p {
            color: #5B5B5B;
            font-size: 14px;
            font-weight: 400;

            margin-top: 14px;
        }
    }
}

.h3 {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}