.products {
    background-color: #000000;
    height: 100vh;
    color: #fff;
    overflow: hidden;
    z-index: 100;

    .slider {
        transform: rotate(15deg);
        overflow: visible;
        top: 20vh;
    }

    .slider__wrapper {
        transition: .75s cubic-bezier( .2, .6, 0, 1)!important;
    }

    .slider__item {
        max-height: 100vh;
        overflow: hidden;
        cursor: pointer;
        transition: transform .75s cubic-bezier( .2, .6, 0, 1), box-shadow .75s cubic-bezier( .2, .6, 0, 1);
    }

    .slider__img-bg {
        background-color: #f9ea8f;
        background-image: linear-gradient(315deg, #f9ea8f, #aff1da);
    }

    .slider__img {
        background-color: #deebdd;
        background-image: linear-gradient(45deg, #deebdd 0%, #bbdbbe 100%);

        border-radius: 12px;
        transition: .75s cubic-bezier( .2, .6, 0, 1)!important;

        padding: 30px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .wrapper {
            position: relative;
            text-align: center;
            img {
                max-height: 400px;
                width: auto !important;
                max-width: 80% !important;
            }
        }

        p {
            font-size: 22px;
            text-align: center;
            font-weight: 500;
            font-family: var(--font-dop);
            font-weight: 500;
            color: #000000;
        }
    }

    .slider_bg {
        z-index: 0;
        transform: rotate(-20deg)!important;
        top: -40vh;
        left: -10vh;
        opacity: 0.5;
        filter: saturate(10) blur(200px);
    }

    .slider__item.opened {
        z-index: 2;
        transform: rotate(-15deg) scale(1.2);
        box-shadow: rgb(0, 0, 0 , .75) 0 0 0 10000px;
    }

    .description {
        position: absolute;
        top: 40vh;
        left: 8vw;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        display: inline-block;
        background-color: #f9ea8f;
        background-image: linear-gradient(4deg, #f9ea8f, #aff1da);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        transition: opacity .75s cubic-bezier( .2, .6, 0, 1), transform .75s cubic-bezier( .2, .6, 0, 1);
    }

    .description.hidden {
        opacity: 0;
        transform: translateY(5vh);
    }
}

@media (max-width: 1350px) {
    .products {
        .description {
            font-size: 50px;
        }
    }
}

@media (max-width: 1300px) {
    .products {
        height: 80vh;
    }
}

@media (max-width: 1050px) {
    .products {
        height: 60vh;
        .description {
            top: 35vh;
            font-size: 40px;
        }
        .slider {
            top: 15vh;
        }
        .slider__img {
            padding: 20px;
            row-gap: 10px;

            P {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 900px) {
    .products {
        height: 50vh;
        .description {
            top: 35vh;
            font-size: 30px;
        }
        .slider {
            top: 15vh;
        }
        .slider__img {
            padding: 20px;
            row-gap: 10px;

            P {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 750px) {
    .products {
        display: none;
    }
}